
.radio-style
{
    height: 22px;
    width: 22px;
    border-radius: 20px;

}
.check-bank
{
    margin-left: 96px;

}
.check-hsptl
{
    margin-left: 77px;

}
.check-govt
{
    margin-left: 80px;

}
.check-int
{
    margin-left: 57px;

}
.check-oth
{
    margin-left: 55px;

}
.check-hr
{
    margin-left: 96px;

}
.check-park
{
    margin-left: 90px;

}
.check-ac
{
    margin-left: 118px;

}
.check-wifi
{
    margin-left: 114px;

}
.check-card
{
    margin-left: 110px;

}
.check-mob
{
    margin-left: 44px;

}
.check-cash
{
    margin-left: 107px;

}
.img-res
{
    height: 20px;
    margin-bottom: 10px;
}
.off-style
{
    background-color: white !important;
   
}
.menu-off
{
    color: black !important;

}